body{
    margin: 0;
    background-color: #333333;
}


/*Estilos del Input tomados de https://codepen.io/flavioschneider/pen/JopZMY */

.input {
    width: 400px;
    margin: 0 auto;
    font-family: Lato;
    font-size: 1.4em;
}
.input input {
    width: 400px;
    height: 80px;
    margin-top: 80px;
    font-family: Lato;
    font-size: 1.8em;
    background-color: transparent;
    border: none;
    border-top: 3px solid #1ed761;
    border-bottom: 3px solid #1ed761;
    outline: none;
    color: #1ed761;
    padding-left: 10px;
}
.input input:focus{
    top: -130px;
    font-size: 1.2em;
    transition: all 0.3s;
}



/*Boton inicial del login*/
.loginButton{
    margin:auto;
    display:block;
    
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #1ed761;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    width: 120px;
    font-family: Lato;
}
